<div  class="container">
  <div class=" bg-light text-left mt-5 w-25 text-center">
            <p><strong><%= @customer.first_name %><%= @customer.last_name %>の会員詳細</strong></p>
        </div>
       
    <div class="col-10 ">
      <table class="table mt-4 table-borderless">
    
        <tbody>
          <tr>
            <th>会員ID</th>
            <td><%= @customer.id%></td>
          </tr>

          <tr>
            <th>氏名</th>
            <td><%= @customer.first_name %><%= @customer.last_name %></td>
          </tr>

          <tr>
            <th>フリガナ</th>
            <td><%= @customer.kana_first_name %><%= @customer.kana_last_name %></td>
          </tr>

          <tr>
            <th>郵便番号</th>
            <td><%= @customer.postal_code %></td>
          </tr>

          <tr>
            <th>住所</th>
            <td><%= @customer.address%></td>
          </tr>

          <tr>
            <th>電話番号</th>
            <td><%= @customer.phone_number %></td>
          </tr>

          <tr>
            <th>メールアドレス</th>
            <td><%= @customer.email%></td>
          </tr>

          <tr>
            <th>会員ステータス</th>
           <% if @customer.is_deleted == false %>
              <td class="text-success font-weight-bold">有効</td>
              <% else %>
              <td class="font-weight-bold">退会</td>
              <% end %>
          </tr>
          <tr>
        
            <th></th>
            <td>
            <%=link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-outline-success mr-2" %> 
            <%= link_to "注文履歴一覧を見る", admin_orders_path, class: "btn btn-outline-secondary ml-5"  %>
            </td>
           
          </tr>  

        </tbody>

      </table>
     
  </div>
</div>