<div class='container'>
  <h4> 注文履歴詳細</h4>
  <div class='row'>

    <div class="col-md-10">
      <table border="0">
        <tr>
          <th>購入者</th>
          <td><%= @order.customer.last_name %><%= @order.customer.first_name %></td>
          <% link_to  admin_customer_path(@order)do %>
            <td><%=@order.name %></td>
          <%end%>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%=@order.created_at.strftime('%m/%d') %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>〒<%= @order.postal_code %></td>
          <td><%= @order.address %></td>
          <td><%= @order.name %></td>
        </tr>
        <tr>
          <th>支払い方法</th>
          <td><%= @order.payment_method %></td>
        </tr>
        <tr>
          <th>注文ステータス</th>
          <td>
            <div class="d-flex">
              <%= form_with model: @order,url: admin_order_path(@order.id), local:true do |f| %>
                <%= f.select :order_status, Order.order_statuses.keys, {prompt: "--選択してください--"} %>
                <%= f.submit "更新" , class: 'btn btn-success' %>
              <% end %>
            </div>
          </td>
        </tr>
      </table>
    </div>

<!--下側のordered_productテーブル-->
    <table class="table border mt-3">
      <thead>
        <tr class="bg-light">
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th>制作ステータス</th>
        </tr>
      </thead>
      <tbody>
      <% @ordered_products.each do |ordered_product| %>
        <tr>
          <td><%= ordered_product.product.name %></td>
          <td><%= (ordered_product.product.price * 1.10).round.to_s(:delimited)%>円</td>
          <td><%= ordered_product.amount%></td>
          <td><%= (ordered_product.product.price * 1.10 * ordered_product.amount).round.to_s(:delimited)%>円</td>
          <td> 
            <div>
              <%= form_with model: @ordered_products, url: admin_path(ordered_product.id),local:true do |f| %>
                <%= f.select :production_status, OrderedProduct.production_statuses.keys, {prompt: "--選択してください--"} %>
                <%= f.submit "更新" , class: 'btn btn-success' %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div class="col-md-8">
      <table class="table">
        <tr>
        <th>商品合計</th>
        <td><%= @order.billing_amount%>円</td>
        <th>送料</th>
        <td><%=@order.freight %></td>
        <th>商品合計</th>
        <td><%= @order.billing_amount+@order.freight %>円</td>
        </tr>
      </table>
    </div>
  </div>
</div>