<div class='container'>
 <h4> 注文履歴詳細</h4>
 <div class='row'>
  
   <div class="col-8">    
     <table border="0">
       <tr>
        <td>購入者</td>
       <% link_to  admin_customer_path(@order.id)do %>
        <td><%=@order.customer.name %></td>
       <%end%>
       </tr> 
       <tr>
        <td>購入日時</td>
         <td><%= @order.ordered_products.find_by(order_id:@order.id).created_at.strftime('%m/%d') %></td>
       </tr> 
       <tr>
        <td>配送先</td>
        <td>〒<%= @order.postal_code%><%= @order.address%></td>
        <td><%= @order.name%></td>
       </tr>
       <tr>
        <td>支払い方法</td>
        <td><%= @order.payment_method%></td>
       </tr>
       <%= form_with model: @order,url: admin_order_path(@order.id), local:true do |f| %> 
       <tr>
        <td>注文ステータス</td>
        <td> <%= f.collection_select(:order_status, @orders.order_status, :integer, :order_status, {prompt: "--選択してください--"})  %>></td>
        <td> <%= f.submit "更新" , class: 'btn btn-success' %></td>
       </tr>
       <% end %>
      </table> 
     </div>
     <table class="table border mt-3">
      <thead>
       <tr class="bg-light">
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th>制作ステータス</th>
       </thead>
       <tbody>
        <% @ordered_products.each do |ordered_products| %>
         <tr>
          <td><%= ordered_products.product.name %></td>
          <td><%= ordered_products.price*1.10%></td>
          <td><%= ordered_products.amount%></td>
          <td><%= ordered_products.price*1.10*ordered_products.amount%></td>円</td>
          <%= form_with model: order_products,url:  admin_path(ordered_products.id), local:true do |f| %> 
          <td> </td>
          <td> <%= f.submit "更新" , class: 'btn btn-success' %></td>
          </tr>
          <% end %>
         <% end %>
       </tbody>
      </table>
      <div class="col-3">
       <table>
        <tr>
         <th>商品合計</th>
         <td><%= @order.billing_amount%>円</td>
         <th>送料</th>
         <td><%=@order.freight %></td>
         <th>商品合計</th>
         <td><%= @order.billing_amount+@order.freight %>円</td>
        </tr>
       </table>
      </div>
  
 
 </div>    
</div>     
     