<h2>マイページ</h2>
<h2>登録情報</h2><%= link_to "編集する", customer_edit_path %>
<%= @customer.first_name %>
<%= @customer.last_name %>
<%= @customer.kana_first_name %>
<%= @customer.kana_last_name %>
<%= @customer.postal_code %>
<%= @customer.address %>
<%= @customer.phone_number %>
<%= @customer.email %>
<h2>配送先</h2><%= link_to "一覧を見る", addresses_path %>
<h2>注文履歴</h2><%= link_to "一覧を見る", orders_path %>
<%= link_to "ログアウト", destroy_customer_session_path,method: :DELETE %>