<div class='container'>
 <div class='row'>
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
   <h2>商品新規登録</h2>
    <%= form_with model:@product, local:true do |f| %> 
     <table border="0">
       <tr>
        <th> <%= f.label "商品画像"%></th>
        <td> <%= f.attachment_field :profile_image %></td>
       </tr>
       <tr>
        <th> <%= f.label "商品名" %></th>
        <td> <%= f.text_field :name %></td>
       </tr>
       <tr>
        <th> <%= f.label "商品説明" %></th>
        <td> <%= f.text_area :introduction%></td>
       </tr>
       <tr>
        <th> <%= f.label "ジャンル" %></th>
        <td> <%= form.collection_select(:genre_id, @genres, :id, :name ) %></td>
       </tr>
       <tr>
        <th> <%= f.label "税抜価格"%></th>
        <td><%= f.number_field%></td>
       </tr>
       <tr>
        <th> <%= f.label "販売ステータス" %></th>
        <td><%= form.radio_button :product_status, true %><%= form.label :product_status, '販売中', value: true %> </td>
        <td><%= form.radio_button :product_status, false %><%= form.label :product_status, '販売停止中', value: false %> </td>
       </tr>
      </table>
     <%= f.submit　"変更を" , class: 'btn btn-success' %>
    <% end %> 
   </div>
  </div>
 </div> 