<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1 class="d-md-inline">商品一覧</h1>
      <p class="d-md-inline">( 全<%= @products.count %>件 )</p>
    </div>
  </div>
  <!--商品表示部分-->
  <div class="row">
    <%= @products.each do |product| %>
      <div class="col-md-3">
        <div class="card shadow-sm">
          <%= link_to (attachment_image_tag product, :image, size: '60x60'), product_path(product.id) %>
          <%= product.name %>
          <p>¥<%= product.price%></p>
        </div>
      </div>
    <% end %>
    <span class="text-center"><%= paginate @products %></span>
  </div>
  
</div>